# 0.0 IMPORTS

In [1]:
import pandas as pd
import numpy as np
import inflection

## 0.2 Helper Functions

## 0.3 Load Data

In [2]:
df_raw = pd.read_csv( 'Ecommerce.csv', encoding='cp1252' )

In [3]:
df_raw.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Unnamed: 8
201694,554310,84596B,SMALL DOLLY MIX DESIGN ORANGE BOWL,1,21-May-17,0.83,NaN,United Kingdom,NaN
444266,574722,22098,BOUDOIR SQUARE TISSUE BOX,8,4-Nov-17,0.39,14502.0,United Kingdom,NaN
285292,561900,22712,CARD DOLLY GIRL,12,29-Jul-17,0.42,16655.0,United Kingdom,NaN
389177,570465,23061,VINTAGE EMBOSSED HEART,1,8-Oct-17,2.46,NaN,United Kingdom,NaN
198335,554031,23089,GLASS BON BON JAR,12,18-May-17,1.65,16497.0,United Kingdom,NaN
293289,562593,20659,ECONOMY LUGGAGE TAG,2,5-Aug-17,1.25,16549.0,United Kingdom,NaN
222325,556416,22620,4 TRADITIONAL SPINNING TOPS,1,8-Jun-17,1.45,15527.0,United Kingdom,NaN
219013,556081,21876,POTTERING MUG,1,6-Jun-17,3.29,NaN,United Kingdom,NaN
97327,544599,22178,VICTORIAN GLASS HANGING T-LIGHT,4,19-Feb-17,2.46,NaN,United Kingdom,NaN
70795,542102,22655,VINTAGE RED KITCHEN CABINET,2,23-Jan-17,125.00,12744.0,Singapore,NaN

# 1.0 DATA DESCRIPTION

## Attribute Description
InvoiceNo Invoice number (A 6-digit integral number uniquely assigned to each transaction)

StockCode Product (item) code

Description Product (item) name

Quantity The quantities of each product (item) per transaction

InvoiceDate The day when each transaction was generated

UnitPrice Unit price (Product price per unit)

CustomerID Customer number (Unique ID assigned to each customer)

Country Country name (The name of the country where each customer resides)

Analysis tasks to be performed:

Use the clustering methodology to segment customers into groups:

Use the following clustering algorithms:

In [4]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [5]:
df1.drop('Unnamed: 8', axis=1, inplace=True)

In [6]:
# List of columns name
old_columns = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country']

# Change to snakecase
snakecase = lambda x: inflection.underscore( x )

new_columns = list( map( snakecase, old_columns ) )

df1.columns = new_columns

In [7]:
df1.columns

Index(['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country'],
      dtype='object')

## 1.2 Data Dimension

In [8]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Columns: {}'.format( df1.shape[1] ) )

Number of Rows: 541909
Number of Columns: 8

## 1.3 Data Types

In [9]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

In [10]:
# Convert an object column to datetime
df1['invoice_date'] = pd.to_datetime( df1['invoice_date'] )

## 1.4 Check NA

In [11]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 1.6 Change Dtypes

## 1.7 Descriptive Statistical

In [12]:
num_attributes = df1.select_dtypes( include=['int64', 'float64'] )
cat_attributes = df1.select_dtypes( include=['object', 'datetime64[ns]'] )

### 1.7.1 Numerical Attributes

In [ ]:
# Central tendency - Mean, median
ct1 = pd.DataFrame( np.mean(num_attributes) ).T

ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# Dispersion - std, min , max, range, skew, kurtosis

std = pd.DataFrame( np.std( num_attributes ) )
min_ = pd.DataFrame( np.min( num_attributes ) )
max_ = pd.DataFrame( np.max( num_attributes ) )



# Concatenate
df1_aux = pd.concat( ct1, ct2, join='inner' )

In [16]:
std

                       0
quantity      218.080957
unit_price     96.759764
customer_id  1713.598197